@import 'blocks/_promo.css';
@import 'blocks/_description.css';
@import 'blocks/_products.css';
@import 'blocks/_cost.css';
@import 'blocks/_team.css';
@import 'blocks/_principles.css';
@import 'blocks/_footer.css';
@import 'blocks/_form.css';
@import 'blocks/_pageup.css';
@import 'blocks/_overlay.css';

* {
    box-sizing: border-box; /* Для правильного отображения ширины и высоты */
    margin: 0;             
    padding: 0;    
}

html {
    font-family: 'Roboto', sans-serif; /* Используем шрифт Roboto */
}



